.root {
  width: 100%;
  height: 100%;
}

.grid {
  height: 100%;
  display: grid;
  grid-template:
    "camera topbar" 10%
    "sidebar video" 1fr / 10% 1fr;
}

.grid__camera {
  grid-area: camera;
}

.grid__sidebar {
  grid-area: sidebar;
}

.grid__topbar {
  grid-area: topbar;
}

.grid__video {
  grid-area: video;
  aspect-ratio: 16/9;
}
